body
{
	color: white;
	font-size: 20px;
	text-align: center;
	font-family: 'Karla', sans-serif;
	background-image: url("img/triangles.png"); /* Background pattern from subtlepatterns.com */
}
#container
{
	width: 1000px;
	/*background-color: #222;
	border-color: #888;
	border-style: ridge;
	border-width: 4px; */
	margin: auto;
	padding: 25px;
	padding-top: 5px;

}
#title
{
	font-size: 60px;
	font-family: 'Mirza', cursive;
	margin-bottom: 20px;
}
#description {
    width: 930px;
    padding: 20px;
    background: rgba(0,0,0,0.1);
    color: white;
    margin: 10px;
    border-color: #888;
    border-width: 5px;
    font-family: 'Mirza', cursive;
    border-radius: 50px;
}
a { text-decoration: none; color: white; }

#kp_neuroshima {
    padding: 10px;
    display: table;
    margin: 0 auto;
    border-width: 3px;
    border-color: white;
    border: ridge;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}